.layout-wrapper {
    height: calc(100vh - var(--h-header));
    position: relative; 
    overflow: hidden; 
    width: 100%;

    .layout-inner {
        position: absolute;
        inset: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}