.app-filters {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--c-bg);
    padding: 10px 20px;

    .filters-category {
        width: 30%;
        order: 1;
        height: 40px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        gap: 6px;
    }

    .filters-search {
        width: 40%;
        order: 2;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters-sort {
        width: 30%;
        order: 3;
        height: 40px;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        gap: 6px;

        svg {
            stroke: var(--c-text);
        }
    }
}
  
  @media all and (max-width: 650px) {
    .app-filters {
        flex-wrap:wrap;
        height: 80px;

        .filters-search {
            width: 100%;
            order: 3;
        }

        .filters-category {
            width: 50%;

            .filters-category-text {
                display: none;
            }
        }
        .filters-sort {
            width:50%;
            order:2;

            .filters-sort-text {
                display: none;
            }            
        }
    }
  }